@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    min-height: 230px

@media ( max-width: 992px)
  .container,.newsletter-wrapper
    max-width: 700px
    width: 91%
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      padding-left: 14px
      padding-right: 14px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 54px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-options
      flex-direction: row
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
    &__info
      margin-bottom: 7px
  .map
    width: 340px
  .newsletter
    padding: 72px 0 74px 0
  .reviews
    &__title
      margin-top: 0
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__button
        &--next
          top: 171px
          right: 0
        &--prev
          top: 171px
          left: 0
      &__item
        max-width: 579px
        &:after,&:before
          display: none
      &__profile
        margin-bottom: 25px
      &__username
        margin-top: 0
      &__date
        margin-bottom: 0
  .activities
    padding-top: 50px
    padding-bottom: 52px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .footer
    padding-top: 77px
    &-wrapper
      grid-template-columns: repeat(6,1fr)
      grid-row-gap: 38px
      padding-bottom: 57px
    &__input
      flex-basis: 100%
    &__logo
      grid-row: 1/2
      grid-column: span 2
      max-width: 97px
    &__title
      &--contact
        margin-top: 22px
        margin-bottom: 24px
      &--inline
        margin-left: -57px
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__additional
      grid-column: span 2
      margin-left: -44px
    &__legal
      grid-column: span 2
      margin-right: 11px
    &__title--form
      margin-bottom: 37px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        max-width: 539px
        grid-row: 4
        grid-column: span 5
    &__input
      flex-basis: 47%
  .rights
    &-wrapper
      grid-template-columns: 80% 20%
    &__ul
      grid-column: 1
@media ( max-width: 767px)
  .container
    max-width: 576px
    width: 91%
  body
    padding-top: 70px
  .static
    overflow: hidden

  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99

    &__search,&__user
      flex-direction: column
      justify-content: center
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__search
      width: 72%
      margin: 0 auto 22px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px
      &--visible
        display: block
        overflow: auto
    &-menu
      padding-top: 0
      &__list
        flex-direction: column
      &__item
        margin-bottom: 16px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 11px
        color: $light
  .breadcrumb
    &-list
      padding-bottom: 0px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__stars
        margin-right: 20px
        flex-basis: auto
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-options
      flex-direction: column
      min-height: 450px
    &-slider
      width: 100%
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .hotel
    padding-bottom: 54px
  .newsletter-wrapper
    flex-direction: column
    align-items: flex-start
    max-width: 576px
    width: 91%
  .newsletter
    &__subscribe
      width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%,0)
          margin-left: -91px
        &--next
          right: 50%
          transform: translate(50%,0)
          margin-right: -91px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__additional
      margin-left: 0
@media ( max-width: 576px)
  .container
    width: 91%
  .hotel
    &-slider
      height: 250px
  .footer
    &__input
      flex-basis: 100%
@media ( max-width: 480px)
  .container
    width: 87%
  .navbar
    &-top
      padding-top: 22px
      padding-bottom: 28px
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
    &-slider
      height: 215px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 77px 6px 83px 6px
    &-title
      margin: 0
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 41px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    &__card:nth-child(2n)
      order: 1
  .card
    width: 100%
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      padding-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
    &__title--inline
      margin-bottom: 20px
      margin-right: 0
      margin-left: 0
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 1
  .rights
    &-wrapper
      grid-template-columns: 1fr
    &__ul
      margin-bottom: 10px

@media ( max-width: 320px)
  .container
    width: 87%
  .hotel
    &-options
      min-height: 400px
    &-slider
      height: 180px
  .booking
    padding: 24px 22px 28px 22px
    &__info
      margin-bottom: 6px
  .map
    height: 173px
  .reviews
    padding-bottom: 54px
    &__title
      margin-bottom: 46px
  .activities
    padding-bottom: 40px
    &__card:nth-child(3)
      margin-bottom: 29px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 36px
  .footer
    &-wrapper
      grid-row-gap: 31px
    &__title
      &--contact
        margin-top: 8px
      &--form
        margin-top: 9px
        margin-bottom: 15px
    &__message
      margin-bottom: 14px
