@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    min-height: 230px

@media ( max-width: 992px)
  .container,.newsletter-wrapper
    max-width: 700px
    width: 91%
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      padding-left: 14px
      padding-right: 14px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 54px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-options
      flex-direction: row
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
    &__info
      margin-bottom: 7px
  .map
    width: 340px
  .newsletter
    padding: 72px 0 74px 0
  .reviews
    &__title
      margin-top: 0
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__button
        &--next
          top: 171px
          right: 0
        &--prev
          top: 171px
          left: 0
      &__item
        max-width: 579px
        &:after,&:before
          display: none
      &__profile
        margin-bottom: 25px
      &__username
        margin-top: 0
      &__date
        margin-bottom: 0
  .activities
    padding-top: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
@media ( max-width: 767px)
  .container
    max-width: 576px
    width: 91%
  .navbar
    &__search,&-menu,&__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb
    &-list
      padding-bottom: 0px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__stars
        margin-right: 20px
        flex-basis: auto
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-options
      flex-direction: column
      min-height: 450px
    &-slider
      width: 100%
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .hotel
    padding-bottom: 54px
  .newsletter-wrapper
    flex-direction: column
    align-items: flex-start
    max-width: 576px
    width: 91%
  .newsletter
    &__subscribe
      width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%,0)
          margin-left: -91px
        &--next
          right: 50%
          transform: translate(50%,0)
          margin-right: -91px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
@media ( max-width: 576px)
  .container
    width: 91%
  .hotel
    &-slider
      height: 250px
@media ( max-width: 480px)
  .container
    width: 87%
  .navbar
    &-top
      padding-top: 22px
      padding-bottom: 28px
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
    &-slider
      height: 215px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 77px 6px 83px 6px
    &-title
      margin: 0
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 41px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    &__card:nth-child(2n)
      order: 1
  .card
    width: 100%

@media ( max-width: 320px)
  .container
    width: 87%
  .hotel
    &-options
      min-height: 400px
    &-slider
      height: 180px
  .booking
    padding: 24px 22px 28px 22px
    &__info
      margin-bottom: 6px
  .map
    height: 173px
  .reviews
    padding-bottom: 54px
    &__title
      margin-bottom: 46px
  .activities
    &__card:nth-child(3)
      margin-bottom: 29px

    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 36px
